#myBtn {
    opacity: 0.3;
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#myBtn:hover {
    opacity: 1;
}